<html>
    <head>
        <title>JiraNodeBoard</title>
        <link rel="stylesheet" href="/module/server/css/reset.css" />
        <link rel="stylesheet" href="/module/server/css/basecards.css" />
    </head>
    <body>
    <div class="card">
        <div class="tag"><img src="/images/tags/1.png" /></div>
        <div class="text">ToDo</div>
    </div>
    <div class="card">
        <div class="tag"><img src="/images/tags/2.png" /></div>
        <div class="text">In Progress</div>
    </div>
    <div class="card">
        <div class="tag"><img src="/images/tags/3.png" /></div>
        <div class="text">Done</div>
    </div>
    </body>
</html>