<html>
    <head>
        <title>JiraNodeBoard</title>
        <link rel="stylesheet" href="/module/server/css/reset.css" />
        <link rel="stylesheet" href="/module/server/css/board.css" />
        <script src="/module/server/js/jquery.js"></script>
        <script src="/module/server/js/socket-io.js"></script>
        <script src="/module/server/js/cam.js"></script>
    </head>
    <body>
        <div id="cam">
            <canvas id="camcanvas" width="640" height="480"></canvas>
        </div>
    </body>
</html>