<article>
    <header>Sprint:</header>
    <p>
        Name: <%= data.sprint.name %><br />
        <a href="/module/server/page/board/" target="_blank">Zum Board</a><br />
        <a href="/module/server/page/cam/" target="_blank">Zur Livecam</a><br />
        <a href="/module/server/page/basecards/" target="_blank">Basis-Karten</a><br />
        <a href="/module/server/page/cards/" target="_blank">Sprintkarten erstellen</a><br />
    </p>
</article>